body {
  background: #eaeaea;
  margin: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background: #eaeaea;
  box-shadow: -3px -3px 10px #f3f3f3, 3px 3px 10px #dcdbdb;
}

.search-wrapper {
  max-width: 600px;
}
.search-input {
  background: #eaeaea;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  box-shadow: inset 3px 3px 10px #dcdbdb, -3px -3px 10px #f3f3f3;
}
input::placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #d1d1d1;
}
.search-input:hover {
  box-shadow: -3px -3px 10px #f3f3f3, 3px 3px 10px #dcdbdb;
  transition: 150ms;
}

.btn-style {
  background: #eaeaea;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: -3px -3px 10px #f3f3f3, 3px 3px 10px #dcdbdb;
}
.btn-style:hover {
  background: #eaeaea;
  border: 1px solid #eaeaea;
  box-shadow: inset 3px 3px 10px #dcdbdb, -3px -3px 10px #f3f3f3;
  transition: 150ms;
}

button:focus {
  outline: 0;
  box-shadow: 0;
  background: none;
  animation: none;
}

.city {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: "Fraunces", serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.weather-icon {
  max-width: 35%;
  display: block;
  margin: 0 auto;
}

.temperature-style {
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 40px;
}
.units {
  position: relative;
  font-size: 12px;
  top: -25px;
  letter-spacing: -0.5px;
  color: #d1d1d1;
}
a {
  color: #d1d1d1;
}
a:hover {
  color: black;
  text-decoration: none;
}
a.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-details {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 2px;
}
hr {
  margin: 2px;
  max-width: 145px;
  border-radius: 1px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.details-list {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-coder {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  display: block;
  padding-top: 10px;
}
